{% extends 'base.html' %}

{% block title %} Register Page {% endblock %}
{% block registeractive %} active {% endblock registeractive %}

{% block css %}
body{
    background: linear-gradient(0deg, rgba(0,168,150,1) 0%, rgba(2,147,151,1) 66%, rgba(5,102,154,1) 96%);
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center authentication-contianer align-items-center">
    <div class="authentication-card py-4 px-2 my-5">
        <h1 class='text-white text-center'>Sign Up <span class='text-black'><span class='text-underline-cream'>GRS</span> Bengali</span></h1>
        <form action="/register/" method="POST"> {% csrf_token %}
            <div class="container mt-3">
                <div class="mb-3">
                    <label for="username" class="form-label text-white">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="first_nam" class="form-label text-white">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label text-white">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-white">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="password1" class="form-label text-white">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="password2" class="form-label text-white">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2">
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-white">Already have an account? <a class='text-white text-decoration-underline' href="/login/">Log In</a></div>
                    <button type="submit" class="btn purple-btn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}